body
{
  background: #2c3333;
  background: linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
  background: -webkit-linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
  background: -moz-linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
 font-family: 'Roboto Slab', serif;
}



#nav
{
  box-sizing: border-box;
  background-color: #CBE4DE;
  max-width: 100%;
  height: 5rem;
  max-height: 5rem;
  text-align: center;
}

footer
{
  background-color: #CBE4DE;
}
nav ul li
{
padding: 5px;
width: 100px;
}

#contactUs
{
  inline-size: min-content;
}

.hero
{
 background-image: url(Pictures\heroimg.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 min-width: 50%;
}

nav a:hover
{
  transform: scale(1.05) ;
-webkit-transform: scale(1.05) ;
-moz-transform: scale(1.05) ;
}

nav ul li a
{
  color: #0E8388;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin: 1%;
}

/* font-color */
.fc-p
{
  color: #e6a5adf1;
}

.fc-g
{
  color: grey;
}
.fc-beige
{
  color: beige;
}
.fc-b
{
  color: black;
}
.fc-purple
{
  color: #4e0764
}
.fc-purpleT
{
  color: #4e0764e4;
}

.fc-white
{
  color: white;
}

/* weather card */
.container{
  height: 80vh;
  background-color: #0f2366;
  border-color: #ffffff;
  align-items: center;
  border-radius: 1rem;
  vertical-align: middle;
}
@media(max-width:767px)
{
  .container{
      height: fit-content;
  }
}
.weather
{
  width: 77%;
}
@media(max-width:767px){
  .weather
  {
      width: 100%;
  }   
}
.card{
  padding: 1rem;
  margin: 1.5rem 4vw;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.583);
  border-color: rgba(223, 221, 221, 0.22);
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
}
@media(max-width:768px){
  .card{
      margin: 1.5rem;
  }
}
.title{
  justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.title p{
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}
.temp{
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
.header{
  color: #dddddd;
}
.col-4{
  padding: 0 0.2rem;
}
.icon{
  align-self: flex-end;
  margin-right: -2.5rem;
  margin-top: -2rem;
  z-index: 999;
}
.icon img{
  width: 5rem;
}