body
{
  background: #2c3333;
  background: linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
  background: -webkit-linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
  background: -moz-linear-gradient(90deg,#2c3333 5%, #cbe4de 99%);
 font-family: 'Roboto Slab', serif;
}



#nav
{
  box-sizing: border-box;
  background-color: #0E8388;
  max-width: 100%;
  height: 6rem;
  max-height: 5rem;
  text-align: center;
}

footer
{
  background-color: #0E8388;
}
nav ul li
{
padding: 5px;
width: 100px;
}

#contactUs
{
  inline-size: min-content;
}

/* masonry */
.container
{
  margin-top: 50px;
}

.img-area
{
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

}

.img-area img{
  width: 100%;
}
.exp-img
{
  height: 275px;
}

@media only screen and (max-width:1200px) {
  
  .exp-img{
    height: 222px;
  }
}

@media only screen and (max-width:992px) {
  .exp-img{
    height: 100%;
  }
}

/* masonry */

.hero
{
 background-image: url(Pictures\heroimg.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 min-width: 50%;
}

nav a
{
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

nav a:hover
{
  color: white;
  transform: scale(1.05) ;
-webkit-transform: scale(1.05) ;
-moz-transform: scale(1.05) ;
}


nav ul
{
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  flex: 1;
  float: right;
}

nav ul li
  {
    display: block;
    margin-top: 5px;
  }

nav ul li a
{
  color: #CBE4DE;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  
  margin: 1%;
}

nav ul li a:hover

{
  color: white;
  -webkit-tap-highlight-color: transparent;
  transition: .5s;
}

/* font-color */
.fc-p
{
  color: #e6a5adf1;
}

.fc-g
{
  color: grey;
}
.fc-beige
{
  color: beige;
}
.fc-b
{
  color: black;
}
.fc-purple
{
  color: #4e0764
}
.fc-purpleT
{
  color: #4e0764e4;
}

.fc-white
{
  color: white;
}

.fc-bluegreen
{
  color:#0E8388;
}
.fc-lbluegreen
{
  color: #CBE4DE;
}
/* /font-color */

/* width */
#contactus
{
  width: 150px;
}